Uncovering the top non-sponsored weight loss websites on Google: A data mining approach

Part 5 - Parsing URLs to get the top level domain

Authors: Carlos A. Almenara (https://almenara.io) & Hayriye Gulec

Date: April 2021

In [1]:
import os
import pandas as pd

In [2]:
# Set working directory
os.chdir('/home/user/Documents')

In [3]:
# Loading the dataset of 432 queries and their respective link results (top domain) 
with open('google_weight_loss_transposed_top5.csv', 'r', encoding='utf-8') as f:
    dataset = pd.read_csv(f, index_col=0)
    f.close
dataset.head()

,0,1,2,3,4,5,6,7,8,9
what weight loss pills actually work,healthline.com,observer.com,discovermagazine.com,medicalnewstoday.com,niddk.nih.gov,webmd.com,insider.com,mayoclinic.org,mayoclinic.org,amazon.com
weight loss for men,menshealth.com,healthline.com,mensjournal.com,fitfatherproject.com,lifehack.org,thehealthy.com,youtube.com,nutrisystem.com,eatthis.com,verywellfit.com
are weight loss programs covered by insurance,blogs.webmd.com,quotewizard.com,pocketsense.com,healthline.com,netquote.com,netquote.com,insure.com,aetna.com,cigna.com,cigna.com
weight loss is hard,everydayhealth.com,verywellfit.com,cnet.com,npr.org,rightasrain.uwmedicine.org,thebloodsugardiet.com,webmd.com,healthline.com,quora.com,health.usnews.com
weight loss breakfast ideas,eatthis.com,healthline.com,womenshealthmag.com,eatingwell.com,today.com,womansday.com,verywellfit.com,medicalnewstoday.com,health.clevelandclinic.org,menshealth.com

In [5]:
dataset.rename(columns={'0': 'Rank_01', '1': 'Rank_02', '2': 'Rank_03', '3': 'Rank_04',
                       '4': 'Rank_05', '5': 'Rank_06', '6': 'Rank_07', '7': 'Rank_08',
                       '8': 'Rank_09', '9': 'Rank_10'}, inplace=True)

In [ ]:
"""
# # Most common websites in RANK_01 with Percent column
df1 = pd.DataFrame(columns=['Count', 'Percent'])
df1['Count'] = dataset.Rank_01.value_counts()[:10]
list = []
for i in df1['Count'].values:
    perc = round(i*100/432, 2)
    list.append(perc)
df1['Percent'] = list
df1[:10]
"""

In [8]:
# Most common websites in RANK_01
s1 = dataset.groupby('Rank_01').size()
df1 = s1.to_frame(name='Count')
df1 = df1.sort_values(by='Count', ascending=False, na_position='first')
df1[:10]

                             Count
Rank_01
healthline.com                  74
webmd.com                       30
womenshealthmag.com             18
verywellfit.com                 16
mayoclinic.org                  14
amazon.com                       9
simple-nourished-living.com      7
prevention.com                   7
goodhousekeeping.com             6
eatthis.com                      6

In [9]:
# Most common websites in RANK_02
s2 = dataset.groupby('Rank_02').size()
df2 = s2.to_frame(name='Count')
df2 = df2.sort_values(by='Count', ascending=False, na_position='first')
df2[:10]

                     Count
Rank_02
healthline.com          65
webmd.com               18
mayoclinic.org          15
verywellfit.com         15
eatthis.com             12
pinterest.com           10
womenshealthmag.com     10
yelp.com                 9
prevention.com           8
amazon.com               6

In [10]:
# Most common websites in RANK_03
s3 = dataset.groupby('Rank_03').size()
df3 = s3.to_frame(name='Count')
df3 = df3.sort_values(by='Count', ascending=False, na_position='first')
df3[:10]

                      Count
Rank_03
healthline.com           23
mayoclinic.org           21
verywellfit.com          21
webmd.com                16
womenshealthmag.com      13
medicalnewstoday.com     10
amazon.com                7
pinterest.com             7
shape.com                 7
eatthis.com               6

In [11]:
# Most common websites in RANK_04
s4 = dataset.groupby('Rank_04').size()
df4 = s4.to_frame(name='Count')
df4 = df4.sort_values(by='Count', ascending=False, na_position='first')
df4[:10]

                      Count
Rank_04
healthline.com           20
mayoclinic.org           19
verywellfit.com          13
womenshealthmag.com      12
webmd.com                12
medicalnewstoday.com     12
eatingwell.com            9
eatthis.com               9
prevention.com            8
livestrong.com            7

In [12]:
# Most common websites in RANK_05
s5 = dataset.groupby('Rank_05').size()
df5 = s5.to_frame(name='Count')
df5 = df5.sort_values(by='Count', ascending=False, na_position='first')
df5[:10]

                      Count
Rank_05
verywellfit.com          20
healthline.com           15
webmd.com                15
mayoclinic.org           10
prevention.com            9
medicalnewstoday.com      9
womenshealthmag.com       8
today.com                 8
eatthis.com               7
everydayhealth.com        7

In [13]:
# Transformind dataframes into dictionaries to later merge
dic1 = dict(df1.iloc[:,-1])
dic2 = dict(df2.iloc[:,-1])
dic3 = dict(df3.iloc[:,-1])
dic4 = dict(df4.iloc[:,-1])
dic5 = dict(df5.iloc[:,-1])

In [14]:
# Merging dic1 and dic2
result_1 = {key: dic1.get(key,0) + dic2.get(key,0) for key in set(dic1) | set(dic2)}

# Merging result_1 and dic3
result_2 = {key: result_1.get(key,0) + dic3.get(key,0) for key in set(result_1) | set(dic3)}

# Merging result_2 and dic4
result_3 = {key: result_2.get(key,0) + dic4.get(key,0) for key in set(result_2) | set(dic4)}

# Merging result_3 and dic5
result_4 = {key: result_3.get(key,0) + dic5.get(key,0) for key in set(result_3) | set(dic5)}

In [15]:
# Creating dataframe from merged dictionaries
new = pd.DataFrame(result_4, index=['Total'])
new = new.transpose()

In [16]:
# Write dataframe into csv file
with open('google_weight_loss_TOTAL_top_5_final.csv', 'w') as w:
    new.to_csv(w)
    w.close